# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
accelerate=0.13.2=pypi_0
aiohttp=3.8.3=pypi_0
aiosignal=1.2.0=pypi_0
altair=4.2.0=pypi_0
astor=0.8.1=pypi_0
async-timeout=4.0.2=pypi_0
attrs=22.1.0=pypi_0
backports-zoneinfo=0.2.1=pypi_0
base58=2.1.1=pypi_0
black=21.12b0=pypi_0
blas=1.0=mkl
blinker=1.5=pypi_0
brotli=1.0.9=pypi_0
ca-certificates=2022.10.11=h06a4308_0
cachetools=5.2.0=pypi_0
certifi=2022.9.24=py38h06a4308_0
charset-normalizer=2.1.1=pypi_0
click=7.1.2=pypi_0
cmake=3.26.3=pypi_0
cuda=11.7.1=0
cuda-cccl=11.7.91=0
cuda-command-line-tools=11.7.1=0
cuda-compiler=11.7.1=0
cuda-cudart=11.7.99=0
cuda-cudart-dev=11.7.99=0
cuda-cuobjdump=11.7.91=0
cuda-cupti=11.7.101=0
cuda-cuxxfilt=11.7.91=0
cuda-demo-suite=11.8.86=0
cuda-documentation=11.8.86=0
cuda-driver-dev=11.7.99=0
cuda-gdb=11.8.86=0
cuda-libraries=11.7.1=0
cuda-libraries-dev=11.7.1=0
cuda-memcheck=11.8.86=0
cuda-nsight=11.8.86=0
cuda-nsight-compute=11.8.0=0
cuda-nvcc=11.7.99=0
cuda-nvdisasm=11.8.86=0
cuda-nvml-dev=11.7.91=0
cuda-nvprof=11.8.87=0
cuda-nvprune=11.7.91=0
cuda-nvrtc=11.7.99=0
cuda-nvrtc-dev=11.7.99=0
cuda-nvtx=11.7.91=0
cuda-nvvp=11.8.87=0
cuda-runtime=11.7.1=0
cuda-sanitizer-api=11.8.86=0
cuda-toolkit=11.7.1=0
cuda-tools=11.7.1=0
cuda-visual-tools=11.7.1=0
cudatoolkit=11.3.1=ha36c431_9
datasets=2.6.1=pypi_0
decorator=5.1.1=pypi_0
deepspeed=0.9.0=pypi_0
dill=0.3.5.1=pypi_0
emoji=2.2.0=pypi_0
entrypoints=0.4=pypi_0
et-xmlfile=1.1.0=pypi_0
exceptiongroup=1.0.0=pypi_0
filelock=3.8.0=pypi_0
filetype=1.1.0=pypi_0
flake8=5.0.4=pypi_0
frozenlist=1.3.1=pypi_0
fsspec=2022.10.0=pypi_0
gds-tools=1.4.0.31=0
gitdb=4.0.9=pypi_0
gitpython=3.1.29=pypi_0
hjson=3.1.0=pypi_0
huggingface-hub=0.10.1=pypi_0
idna=3.4=pypi_0
importlib-resources=5.10.0=pypi_0
inflate64=0.3.1=pypi_0
iniconfig=1.1.1=pypi_0
intel-openmp=2022.1.0=h9e868ea_3769
isort=5.8.0=pypi_0
jinja2=3.1.2=pypi_0
joblib=1.2.0=pypi_0
jsonlines=3.1.0=pypi_0
jsonschema=4.16.0=pypi_0
libcublas=11.11.3.6=0
libcublas-dev=11.11.3.6=0
libcufft=10.9.0.58=0
libcufft-dev=10.9.0.58=0
libcufile=1.4.0.31=0
libcufile-dev=1.4.0.31=0
libcurand=10.3.0.86=0
libcurand-dev=10.3.0.86=0
libcusolver=11.4.1.48=0
libcusolver-dev=11.4.1.48=0
libcusparse=11.7.5.86=0
libcusparse-dev=11.7.5.86=0
libedit=3.1.20210910=h7f8727e_0
libffi=3.2.1=hf484d3e_1007
libgcc-ng=11.2.0=h1234567_1
libgfortran-ng=7.5.0=ha8ba4b0_17
libgfortran4=7.5.0=ha8ba4b0_17
libgomp=11.2.0=h1234567_1
libnpp=11.8.0.86=0
libnpp-dev=11.8.0.86=0
libnvjpeg=11.9.0.86=0
libnvjpeg-dev=11.9.0.86=0
libstdcxx-ng=11.2.0=h1234567_1
lit=16.0.1=pypi_0
lxml=4.9.1=pypi_0
markupsafe=2.1.1=pypi_0
mccabe=0.7.0=pypi_0
mkl=2022.1.0=hc2b9512_224
mpi=1.0=mpich
mpi4py=3.0.3=py38h028fd6f_0
mpich=3.3.2=hc856adb_0
mpmath=1.3.0=pypi_0
multidict=6.0.2=pypi_0
multiprocess=0.70.13=pypi_0
multivolumefile=0.2.3=pypi_0
mypy-extensions=0.4.3=pypi_0
ncurses=6.3=h5eee18b_3
networkx=3.1=pypi_0
ninja=1.10.2.4=pypi_0
nltk=3.7=pypi_0
nsight-compute=2022.3.0.22=0
numpy=1.23.4=pypi_0
nvidia-cublas-cu11=11.10.3.66=pypi_0
nvidia-cuda-cupti-cu11=11.7.101=pypi_0
nvidia-cuda-nvrtc-cu11=11.7.99=pypi_0
nvidia-cuda-runtime-cu11=11.7.99=pypi_0
nvidia-cudnn-cu11=8.5.0.96=pypi_0
nvidia-cufft-cu11=10.9.0.58=pypi_0
nvidia-curand-cu11=10.2.10.91=pypi_0
nvidia-cusolver-cu11=11.4.0.1=pypi_0
nvidia-cusparse-cu11=11.7.4.91=pypi_0
nvidia-nccl-cu11=2.14.3=pypi_0
nvidia-nvtx-cu11=11.7.91=pypi_0
openai=0.25.0=pypi_0
openpyxl=3.0.10=pypi_0
openssl=1.1.1q=h7f8727e_0
packaging=21.3=pypi_0
pandas=1.5.1=pypi_0
pandas-stubs=1.5.2.221213=pypi_0
pathspec=0.10.1=pypi_0
pillow=9.3.0=pypi_0
pip=22.3.1=pypi_0
pkgutil-resolve-name=1.3.10=pypi_0
platformdirs=2.5.2=pypi_0
plotly=5.11.0=pypi_0
pluggy=1.0.0=pypi_0
promptsource=0.2.3=pypi_0
protobuf=3.20.0=pypi_0
psutil=5.9.3=pypi_0
py-cpuinfo=9.0.0=pypi_0
py7zr=0.20.0=pypi_0
pyarrow=10.0.0=pypi_0
pybcj=1.0.1=pypi_0
pycodestyle=2.9.1=pypi_0
pycryptodomex=3.15.0=pypi_0
pydantic=1.10.2=pypi_0
pydeck=0.8.0b4=pypi_0
pyflakes=2.5.0=pypi_0
pyparsing=3.0.9=pypi_0
pyppmd=0.18.3=pypi_0
pyrsistent=0.19.1=pypi_0
pytest=7.2.0=pypi_0
python=3.8.0=h0371630_2
python-dateutil=2.8.2=pypi_0
pytorch-cuda=11.7=h67b0de4_0
pytorch-mutex=1.0=cuda
pytz=2022.5=pypi_0
pytz-deprecation-shim=0.1.0.post0=pypi_0
pyyaml=6.0=pypi_0
pyzstd=0.15.3=pypi_0
readline=7.0=h7b6447c_5
regex=2022.7.9=py38h5eee18b_0
requests=2.28.1=pypi_0
responses=0.18.0=pypi_0
scikit-learn=1.1.3=pypi_0
scipy=1.9.3=pypi_0
sentence-transformers=2.2.2=pypi_0
sentencepiece=0.1.97=pypi_0
setuptools=65.6.0=pypi_0
six=1.16.0=pypi_0
smmap=5.0.0=pypi_0
sqlite=3.33.0=h62c20be_0
streamlit=0.82.0=pypi_0
sympy=1.11.1=pypi_0
tenacity=8.1.0=pypi_0
texttable=1.6.4=pypi_0
threadpoolctl=3.1.0=pypi_0
tk=8.6.12=h1ccaba5_0
tokenizers=0.13.1=pypi_0
toml=0.10.2=pypi_0
tomli=1.2.3=pypi_0
toolz=0.12.0=pypi_0
torch=2.0.0=pypi_0
torchvision=0.15.1=pypi_0
tornado=6.2=pypi_0
tqdm=4.64.1=pypi_0
transformers=4.24.0=pypi_0
triton=2.0.0=pypi_0
types-pytz=2022.7.0.0=pypi_0
typing_extensions=4.3.0=py38h06a4308_0
tzdata=2022.6=pypi_0
tzlocal=4.2=pypi_0
urllib3=1.26.12=pypi_0
validators=0.20.0=pypi_0
watchdog=2.1.9=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
xxhash=3.1.0=pypi_0
xz=5.2.6=h5eee18b_0
yarl=1.8.1=pypi_0
zipp=3.10.0=pypi_0
zlib=1.2.13=h5eee18b_0
